
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - licenta</title>

    @*client side validation*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @*font*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap" rel="stylesheet">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navBar.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/stie.min.css" />
    </environment>
    @*nav bar js*@
    <script src="~/js/nav_bar.js"></script>
    @RenderSection("Style", required: false)

</head>
<body>
    @Html.Partial("_NavBar")

    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - licenta - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
