@model List<licenta.ViewModel.UserRoleViewModel>

@{
    var roleId = ViewBag.RoleId;
    var roleName = ViewBag.RoleName;
}
<div class="page_ctn">
    <p class="page_title">Editeaza utilizatorii cu rolul de @roleName</p>
    @Html.ActionLink("Anuleaza", "ListUsersInRole", "Administration", new { roleId = roleId }, null)

    <div class="form_ctn check_form">
        @using (Html.BeginForm("EditUserRole", "Administration", new { roleId = ViewBag.RoleId }, FormMethod.Post, null, null))
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form_group form_check">
                    @Html.HiddenFor(m => m[i].UserId)
                    @Html.HiddenFor(m => m[i].UserName)
                    <input asp-for="@Model[i].IsSelected" />
                    <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
                </div>
            }
            <input type="submit" class="save_button" value="Salveaza" />
        }
    </div>
</div>
@section Style{
    <link href="~/css/profile_forms.css" rel="stylesheet" />
}