@model List<licenta.ViewModel.UserRoleViewModel>

@{ 
    var roleId = ViewBag.RoleId;
}
@using (Html.BeginForm("EditUserRole", "Administration", new { roleId = ViewBag.RoleId }, FormMethod.Post, null, null))
{
    @for(int i=0; i<Model.Count; i++)
    {
        @Html.HiddenFor(m => m[i].UserId)
        @Html.HiddenFor(m => m[i].UserName)
        <div>
            <input asp-for="@Model[i].IsSelected"/>
            <label asp-for="@Model[i].IsSelected">@Model[i].UserName</label>
        </div>
    }
    <input type="submit" value="Salveaza"/>
    @Html.ActionLink("Anuleaza", "EditRole", "Administration", new { id = roleId}, null)
}