@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Lista utilizatorlor";
    var roleId = ViewBag.RoleId;
    var roleName = ViewBag.RoleName;
}
<p>@roleName</p>
@if (roleId != null)
{
    @Html.ActionLink("Modifica utilizatorii cu acest rol", "EditUserRole", "Administration", new { roleId = roleId })
}
else
{
    @Html.ActionLink("Adauga un nou utilizator", "Register", "Account")
}

@if (Model.Any())
{


    <div>
        @foreach (var user in Model)
        {
            <div>
                <label>@user.Id</label>
                <label>@user.UserName</label>
                <label>@user.FirstName @user.LastName</label>
                <label>@user.Email</label>
                <label>@user.PhoneNumber</label>
                <label>@user.Birthday.ToShortDateString()</label>
            </div>
            <div>
                @using (Html.BeginForm("DeleteUser", "Administration", new { userId = user.Id, roleId = roleId }))
                {
                    <button type="submit">Sterge utilizator</button>
                }
            </div>
        }
    </div>
}
else
{
    <p>Niciun utilizator momentan</p>
}
