@model licenta.ViewModel.PaginatedList<ApplicationUser>

@{
    var action = "ListUsers";
    var roleId = ViewBag.RoleId;
    var roleName = ViewBag.RoleName;
    ViewData["Title"] = "Lista utlizatorilor";
}

<div class="search_ctn">
    <button id="filters_menu_btn">Filtre</button>
    @using (Html.BeginForm(action, "Administration", FormMethod.Get, new { id = "filter_form" }))
    {
        <input name="roleId" type="hidden" value="@roleId" />
        <input name="page" type="hidden" value="1" />
        <p>Filtrare</p>
        <input type="text" name="search" placeholder="caută..." value="@ViewData["SearchString"]">
        <p>Vârsta</p>
        <input type="number" name="minage" placeholder="min" value="@ViewData["MinAge"]">
        <input type="number" name="maxage" placeholder="max" value="@ViewData["MaxAge"]">
        <div><input type="radio" name="order" value="ASC" @ViewData["AscChecked"] /><text>Alfabetic</text></div>
        <div><input type="radio" name="order" value="DESC" @ViewData["DescChecked"] /><text>Invers alfabetic</text></div>
        <input type="submit" value="Caută" />
    }
</div>

<div class="info_ctn">
    @if (roleName == null)
    {
        <p class="page_title">Lista utiliztorilor</p>
    }
    else
    {
        <p class="page_title">Lista de utiliztori cu rolul de @roleName</p>
    }

    @if (roleId != null)
    {
        @Html.ActionLink("Modifică utilizatorii cu acest rol", "EditUserRole", "Administration", new { roleId = roleId }, new { })
    }
    else
    {
        @Html.ActionLink("Adaugă un nou utilizator", "Register", "Account")
    }

    @if (Model.Any())
    {
        <div class="users_ctn">
            @foreach (var user in Model)
            {
                <div class="user_data_ctn">
                    <div class="user_info">
                        <label>Nume: @user.FirstName @user.LastName</label>
                        <label>Varsta @user.Age ani</label>
                    </div>
                    <div class="user_contact">
                        <label>Email: @user.UserName</label>
                        <label>Numar de telefon: @user.PhoneNumber</label>
                    </div>
                    @*                    @using (Html.BeginForm("DeleteUser", "Administration", new { userId = user.Id, roleId = roleId }))
                        {*@
                    <button type="submit" class="delete_btn" name="@user.UserName" userId="@user.Id">Șterge utilizator</button>
                </div>
            }
        </div>

        var prevDisabled = !Model.HasPreviousPage ? "none" : "block";
        var nextDisabled = !Model.HasNextPage ? "none" : "block";

        <div class="paging_ctn">
            <div class="paging_btn">
                <a asp-action="ListUsers"
                   asp-route-search="@ViewData["SearchString"]"
                   asp-route-order=" @ViewData["Order"]"
                   asp-route-minage="@ViewData["MinAge"]"
                   asp-route-maxage="@ViewData["MaxAge"]"
                   asp-route-page="@(Model.PageIndex - 1)"
                   style="display:@prevDisabled">Previous</a>
            </div>
            <div>
                <p>Pagina @Model.PageIndex din @Model.TotalPages</p>
            </div>
            <div class="paging_btn">
                <a asp-action="ListUsers"
                   asp-route-search="@ViewData["SearchString"]"
                   asp-route-order=" @ViewData["Order"]"
                   asp-route-minage="@ViewData["MinAge"]"
                   asp-route-maxage="@ViewData["MaxAge"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   style="display:@nextDisabled">Next</a>
            </div>
        </div>


    }
    else
    {
        <p>Niciun utilizator momentan</p>
    }
</div>
@section Style{
    <link href="~/css/user_in_role_page.css" rel="stylesheet" />
    <link href="~/css/filter_menu.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/filter.js"></script>
    <script src="~/js/users.js"></script>
}