@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<licenta.Models.Category>
@{ 
    ViewData["Title"] = "Editare categorie";
    var observations = ViewBag.Observations;
}
    <div class="action_ctn">
        @if (observations != 0)
        {
        <div class = "action_btn ">@Html.ActionLink((int)observations + " întrebări contestate", "DisputedQuestions", "Questions", null, new { id = "disputed_btn" })</div>
        }
        <div class="action_btn" @*id="new_ctg"*@>
            @Html.ActionLink("Întrebare nouă", "New", "Questions")
        </div>
        <div class="action_btn" @*id="new_qst"*@>
            @Html.ActionLink("Categorie nouă", "NewCategory", "Questions")
        </div>
    </div>
    <div id="categories_ctn">

        @foreach (var category in Model)
        {
            <div class="category">
                @Html.ActionLink("Categoria: " + category.Name, "Questions", "Questions", new { id = category.Id }, null)
            </div>
        }
    </div>


@section Style{
    <link href="@Url.Content("~/css/categories.css")" rel="stylesheet" type="text/css" />
}
