
@model licenta.ViewModel.QuestionFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<p class="title">@Model.Title</p>
<div id="question_form_ctn">

    @*using = for close tag for form*@
    @using (Html.BeginForm("Save", "Questions", FormMethod.Post, new { enctype = "multipart/form-data", @class = "extended_form" }))
    {
        @*using div to render responsive forms*@
        <div class="form_group">
            @Html.LabelFor(m => m.Text)
            @*new is for the attributes*@
            @Html.TextBoxFor(m => m.Text)
            @Html.ValidationMessageFor(m => m.Text, null, new { @class = "validation_mesg" })
        </div>

        @Html.Label("Răspunsuri", null, new { id = "form_label" })
        @Html.ValidationMessageFor(m => m.Answers, null, new { @class = "validation_mesg" })
        @*use for because it need indexing for the model to take the data*@
        <div class="form_group" id="answer_container">
            @for (var i = 0; i < Model.NumberOfAnswers; i++)
            {
                <div class="answer">
                    @Html.TextBoxFor(m => m.Answers[i].Text)
                    @Html.ValidationMessageFor(m => m.Answers[i].Text, null, new { @class = "validation_mesg" })
                    <div class="custom-checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.Answers[i].IsCorrect, new { name = "isCorret" }) Răspuns corect
                        </label>
                    </div>
                </div>
            }
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.Explanation)
            @*new is for the attributes*@
            @Html.TextAreaFor(m => m.Explanation, new { @class = "explanation_txt" })
            @Html.ValidationMessageFor(m => m.Explanation, null, new { @class = "validation_mesg" })
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.ImagePath)
            @Html.TextBoxFor(m => m.Image, new { type = "file" })
        </div>

        <div class="form_group">
            @Html.LabelFor(m => m.CategoryId)
            @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Alege o categorie", new { @class = "form_control", id = "select_category" })
            @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "validation_mesg" })

        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()

        <button type="submit" class="save_button"> Salvează</button>
    }

</div>

@section  Style{ 
    <link href="~/css/questionForm.css"  rel="stylesheet" type="text/css" />
}