@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<licenta.Models.Question>
@{

    @*to take the id of the difficulty*@

    var id = 0;
    var div_name = "";
    var categoryId = ViewBag.CategoryId;
    foreach (var question in Model)
    {
        id = question.CategoryId;
        break;
    }

}
@section Style{
    <link href="@Url.Content("~/css/questions.css")" rel="stylesheet" type="text/css" />
}

<div class = "btn_delete" >@Html.ActionLink("Șterge categoria", "DeleteCategory", "Questions", new { id = categoryId })</div>

@if (!Model.Any())
{
    <p id="no_data"> Pentru această categorie nu există întrebări.</p>
}
else
{

    <div class="search_ctn">
        @using (Html.BeginForm("Questions", "Questions", FormMethod.Get))
        {
            @Html.TextBox("search")
            <input type="submit" value="Cauta" />
        }
    </div>
    <div class="questions_ctn">
        @foreach (var question in Model)
        {
            <div class="question_ctn">
                @if (question.ImagePath == null)
                {
                    div_name = "qst_ctn";
                }
                else
                {
                    div_name = "qst_img_ctn";
                }
                <div class="@div_name">
                    <div class="qst_asw_ctn">
                        <div class="question_label">
                            @Html.ActionLink(question.Text, "Edit", "Questions", new { id = question.Id }, null)
                        </div>
                        <div class="answers_ctn">
                            @foreach (var answer in question.Answers)
                            {
                                <div>
                                    @{
                                        if (answer.IsCorrect)
                                        {
                                            <div class="correct_answer">
                                                @Html.Label(answer.Text)
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="answer">
                                                @Html.Label(answer.Text)
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <img src="@question.ImagePath" width="150px" />
                </div>
                <div class="explanation_ctn">
                    @Html.Label("Explicație:", null, new { @class = "label_exl" })
                    @Html.Label(question.Explanation)
                </div>
                <div class="delete_ctn">
                    @Html.ActionLink("Șterge întrebarea", "DeleteQuestion", "Questions", new { id = question.Id }, new { @class = "delete_btn" })
                    @Html.ActionLink("Editare întrebarea", "Edit", "Questions", new { id = question.Id }, new { @class = "delete_btn" })
                </div>
            </div>
        }
    </div>
}


