@model IEnumerable<licenta.Models.ApplicationUser>

@{ 
    ViewData["Title"] = "Instructor";
}

@section Style{
    <link href="~/css/instructors.css" rel="stylesheet" />
}

<p class="page_title">Lista instructorilor</p>
<div class="info_ctn">
    @foreach (var user in Model)
    {
        <div class="user_data_ctn">
            <h4>@user.FirstName @user.LastName</h4><br />
            <div class="user_contact">
                @if (user.Email != null)
                {
                    <p><span>Email: </span>@user.Email</p> <br />

                }
                @if (user.PhoneNumber != null)
                {
                    <p><span>Număr de telefon: </span>@user.PhoneNumber</p><br />
                }
                @if (user.Description != null)
                {
                    <p>@user.Description</p><br />
                }
            </div>
        </div>
    }
</div>