@model licenta.ViewModel.ChangePasswordViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
<div>
    @Html.LabelFor(m => m.CurrentPassword)
    @Html.TextBoxFor(m => m.CurrentPassword)
    @Html.ValidationMessageFor(m => m.CurrentPassword)
</div>
<div>
    @Html.LabelFor(m => m.NewPassword)
    @Html.TextBoxFor(m => m.NewPassword)
    @Html.ValidationMessageFor(m => m.NewPassword)
</div>
<div>
    @Html.LabelFor(m => m.ConfirmNewPassword)
    @Html.TextBoxFor(m => m.ConfirmNewPassword)
    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
</div>
<input type="submit" value="Salveaza"/>
}