@model licenta.ViewModel.ChangePasswordViewModel
@{ 
    ViewData["Title"] = "Editează parola";
}
<div id="form_ctn">
    @using (Html.BeginForm("ChangePassword", "Account"))
    {
        <p class="title">Schimbă parola</p>
        <div class="validation_summ_ctn">@Html.ValidationSummary()</div>
        <div class="form_group">
            @Html.LabelFor(m => m.CurrentPassword)
            @Html.TextBoxFor(m => m.CurrentPassword, new { @type = "password" })
            @Html.ValidationMessageFor(m => m.CurrentPassword, null, new { @class = "validation_mesg" })
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.TextBoxFor(m => m.NewPassword, new { @type = "password" })
            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "validation_mesg" })
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.ConfirmNewPassword)
            @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @type = "password" })
            @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "validation_mesg" })
        </div>
        <input type="submit" value="Salvează" class="save_button" id="change_pwd_btn" />
    }
</div>
@section Style{
    <link href="~/css/profile_forms.css" rel="stylesheet" />
}