@model IEnumerable<Message>
@{
    var userName = User.Identity.Name;
}
<div>
    -->
    @*ceva div in care are un titlu*@
    <div class="row">
        <div class="col-md-12" id="chat">
            @if (Model != null)
            {
                @foreach (var message in Model.OrderBy(m => m.Date))
                {
                    string containerClass, timePosition, textAlign, contColor, offset;
                    if (userName == message.UserName)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-light";
                        textAlign = "text-right text-white";
                        contColor = "bg-primary";
                        offset = "col-md-6 offeset-md-6";
                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        contColor = "bg-light";
                        offset = "";
                    }
                    <div class="row">
                        <div class="@offset">
                            <div class="@containerClass @contColor">
                                <p class="sender @textAlign">@message.UserName</p>
                                <p class="@textAlign">@message.Text</p>
                                <span class="@timePosition">@message.Date.ToString()</span>
                            </div>
                        </div>
                    </div>

                }
            }
            <div class="col-md-12">
                <form data-ajax-methode="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input name="Text" class="form-control" id="messageText" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" id="submitButton" class="btn" />
                    </div>
                    <input type="hidden" value="@userName" name="username" />
                </form>
            </div>

        </div>
    </div>
</div>
@*<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                User..........<input type="text" id="userInput" />
                <br />
                Message...<input type="text" id="messageInput" />
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
        asp-action="SaveMessage"
                          data-ajax-begin="CrealInputField" data-ajax-complete=""
                          data-ajax-failer="alert('Fail')" data-ajax-succes="sendMessage"
                          data-ajax="true"*@
@section Scripts{
    <script>
    const userName = "@ViewBag.CurrentUserName";
    </script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    @*<script src="~/js/signalR_handler_request.js"></script>*@
    <script src="~/js/chat.js"></script>

}