@model licenta.ViewModel.ChatViewModel
@{
    var userName = User.Identity.Name;
    var date = DateTime.Now.ToString("dd MMMM");
}

<div class="friend_ctn">
    <div class="friend_name">
        <p>@Model.LastName</p>
        <p>@Model.FirstName</p>
    </div>
    <div class="friend_contact">
        <p><span>Email:</span> @Model.Username</p>
        <p><span>Telefon: </span>@Model.PhoneNumber</p>
    </div>
</div>
@*ceva div in care are un titlu*@
<div class="chat_ctn">
    <div class="messages_ctn" id="chat">
        @if (Model.Messages != null)
        {
            @foreach (var message in Model.Messages)
            {
                @*check if the day the message was sent is different, if so show the day *@
                if (!date.Equals(message.Date.ToString("dd MMMM")))
                {
                    <p class="msg_date">@message.Date.ToString("dd MMMM")</p>
                    date = message.Date.ToString("dd MMMM");
                }
                @*dynamic class assignment depending on who sent the message *@
                string containerClass, msg_date;
                if (userName == message.SenderUsername)
                {
                    containerClass = "dark_message_ctn";
                }
                else
                {
                    containerClass = "light_message_ctn";
                }
                @*container for each message *@
                <div class="@containerClass">
                    <p class="msg_text">@message.Text</p>
                    <p class="msg_date">@message.Date.ToString("H:mm")</p>
                </div>

            }
        }
    </div>
    @*container to send a new message*@
    <div class="send_msg_ctn">
        @*input field*@
        <div class="form_group_input">
            <input name="Text" class="form-control" id="messageText" />
        </div>
        @*send button*@
        <div class="form_group_submit">
            <button type="submit" id="submitButton" class="btn"><img src="~/Images/Icons/send.png" /></button>
        </div>
        @*hidden field for who is the sender and who receives the message*@
        <input type="hidden" value="@userName" name="SenderUsername" id="senderUsername" />
        <input type="hidden" value="@Model.Username" name="ReceiverUsername" id="receiverUsername" />
    </div>
</div>


@section Scripts{
    <script>
        const SenderUsername = "@ViewBag.CurrentUser";
    </script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
@section Style{
    <link href="~/css/chat.css" type="text/css" rel="stylesheet" />
}