@model licenta.ViewModel.EditUserViewModel
@{ 
    ViewData["Title"] = "Editează date";
}
<div id="form_ctn">
    @using (Html.BeginForm("EditUser", "Account"))
    {
        <p class="title"> Editează informațiile personale</p>
        <div class="validation_summ_ctn">@Html.ValidationSummary()</div>
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.Id)
        <div class="form_group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="form_group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "validation_mesg" })
        </div>

        <div class="form_group">
            @Html.LabelFor(m => m.Birthday)
            <input type="datetime" asp-for="@Model.Birthday" asp-format="{0:dd/MM/yyyy}" readonly />
            @Html.ValidationMessageFor(m => m.Birthday, null, new { @class = "validation_mesg" })
        </div>

        <div class="form_group">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber)
            @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "validation_mesg" })
        </div>
        @if (User.IsInRole("Instructor"))
        {
            <div class="form_group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "validation_mesg" })
            </div>
        }


        <input type="submit" class="save_button" value="Salvează modificările" />
    }
</div>
@section Style{
    <link href="~/css/profile_forms.css" rel="stylesheet" />
}