@model licenta.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Autentificare";
}


<div id="form_ctn">
    <p class="title"> Autentificare</p>

    @using (Html.BeginForm("Login", "Account"))
    {
    <div class="validation_summ_ctn">@Html.ValidationSummary()</div>
        <div class="form_group">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "validation_mesg" })
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validation_mesg" })
        </div>

        <div class="form_group form_check">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>
        <input type="submit" class="save_button" value="Autentificare" />
    }
    @Html.ActionLink("Parola uitata?", "ForgotPassword", "Account")
</div>
@section Style{
    <link href="~/css/profile_forms.css" rel="stylesheet" />
}