@model licenta.ViewModel.ResetPasswordViewModel

<div id="form_ctn">
    @using (Html.BeginForm())
    {
        <div class="validation_summ_ctn">@Html.ValidationSummary()</div>
        <p class="title">Resetează parola</p>
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.Token)
        @Html.ValidationSummary()
        <div class="form_group">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validation_mesg" })
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.TextBoxFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "validation_mesg" })
        </div>
        <input type="submit" class="save_button" value="Salvează" />
    }
</div>
@section Style{
    <link href="~/css/profile_forms.css" rel="stylesheet" />
}