@model licenta.ViewModel.ResetPasswordViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m=> m.Token)

    <div>
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor( m=> m.ConfirmPassword)
        @Html.TextBoxFor( m=> m.ConfirmPassword)
        @Html.ValidationMessageFor( m=> m.ConfirmPassword)
    </div>
    <input type="submit" value="Salveaza" />
}