@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<licenta.Models.Note>
@Html.ActionLink("Adauga o nota noua", "NewNote", "Notes", new { date = ViewBag.Date })
<div>
    <p class="date_ctn">@ViewBag.Date.ToShortDateString()</p>
</div>
@if (!Model.Any())
{
    <p> nicio nota</p>
}
else
{
    <table class="notes_ctn">
        <tr>
            <th>Ora start</th>
            <th>Ora final</th>
            <th>Descrie</th>
            <th>Actiune</th>
        </tr>
        @foreach (var note in Model)
        {
            <tr class="note">
                <td class="hour_ctn"> @note.StartHour.ToShortTimeString()</td>
                <td class="hour_ctn"> @note.EndHour.ToShortTimeString()</td>
                <td class="description_ctn">@note.Description</td>
                <td>
                    <button class="delete_btn" id="@note.Id">Sterge</button>
                    @Html.ActionLink("Editeaza", "EditNote", "Notes", new { id = note.Id })
                </td>
            </tr>
        }
    </table>
}
@Html.ActionLink("Previous", "Notes", "Notes", new { date = ViewBag.PreviousDate })
@if (ViewBag.Date != DateTime.Now.Date)
{
    @Html.ActionLink("Azi", "Notes", "Notes", new { date = DateTime.Now.Date })
}
@Html.ActionLink("Next", "Notes", "Notes", new { date = ViewBag.NextDate })
@section Scripts{
    <script src="~/js/note.js"></script>
}