@model licenta.ViewModel.NoteViewModel
@{
    ViewData["Title"] = "Note";
}

<div id="form_ctn">
    @using (Html.BeginForm("SaveNote", "Notes"))
    {
        <div class="validation_summ_ctn">@Html.ValidationSummary()</div>
        <div class="form_group">
            @Html.LabelFor(m => m.Date)
            <input asp-for="@Model.Date" type="date" class="form-control" value="@Model.Date.Date.ToString("yyyy-MM-dd")" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.StartTime)
            <input asp-for="@Model.StartTime" type="time" asp-format="{0:hh-mm}" class="form-control" value="@Model.StartTime.TimeOfDay.ToString(@"hh\:mm")" />
            @Html.ValidationMessageFor(m => m.StartTime)
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.EndTime)
            <input asp-for="@Model.EndTime" type="time" asp-format="{0:hh-mm}" class="form-control" value="@Model.EndTime.TimeOfDay.ToString(@"hh\:mm")" />
            @Html.ValidationMessageFor(m => m.EndTime)
        </div>
        <div class="form_group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <button type="submit" class="save_button">Salvează</button>
    }
</div>
@section Style{
    <link href="~/css/profile_forms.css" rel="stylesheet" />
}